# Common
NODE_ENV=development
PORT=3000

# App Details
APP_NAME='App Name'
APP_DESCRIPTION='App Description'

# JWT
JWT_SECRET=change-me-to-a-strong-random-secret

# Database
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=db
DB_LOGGING=false
DB_SYNC=true
